[submodule "insieme"]
	path = insieme
	url = https://github.com/insieme/insieme.git
[submodule "api"]
	path = api
	url = https://github.com/allscale/allscale_api.git
[submodule "runtime/allscale_runtime"]
	path = runtime/allscale_runtime
	url = https://github.com/allscale/allscale_runtime
