body {
    overflow-y: scroll;
    min-width: 1500px;
}

h1.title {
    text-align: center;
    margin-bottom: 15px;
}

#controls {
    position: fixed;
    top: 50px;
    padding: 5px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ddd;
}

#filters {
    position: fixed;
    top: 180px;
    padding: 5px 15px 5px 5px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ddd;
}

#filters:empty {
    display: none;
}

#filters h4 {
    padding-left: 10px;
    text-align: center;
}

#progress #progress-num {
    text-align: right;
}

.entry > .panel-heading {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    word-wrap: break-word;
}

.entry > .panel-heading > .panel-title {
    font-size: 9pt;
}

.entry div.entry-issue-error-code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 12px;
    display: inline-block;
    width: 4%;
    vertical-align: top;
    padding-top: 3px;
}

.entry div.entry-issue-message {
    display: inline-block;
    width: 80%;
}

.entry div.entry-issue-tags {
    text-align: right;
    display: inline-block;
    width: 16%;
    vertical-align: top;
}

.entry div.entry-issue-tags div.label {
    display: inline-block;
    margin-left: 10px;
}

.entry div.entry-issue-help {
    border-bottom: solid 2px lightgrey;
    padding: 5px;
    margin-bottom: 10px;
}

.entry pre div.nodeaddress {
    padding-left: 10px;
    margin-bottom: 5px;
    border-bottom: solid thin lightgrey;
}

.entry div.entry-issue-help:empty {
    display: none;
}

.entry .backtrace {
    padding: 5px;
    position: relative;
    padding-left: 20px;
    min-height: 90px;
    vertical-align: top;
    background: lightgrey;
    border-radius: 4px;
}

.entry .backtrace-text {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    position: absolute;
    left: 20;
    top: 60px;

    transform: rotate(-90deg);
    transform-origin: bottom left;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: bottom left;
}

.entry .backtrace .panel-heading {
    padding: 3px 8px;
}

#help-modal .modal-content {
    width: 800px;
}

img.logo {
    display: block;
    margin: 10px auto;
}

.container {
    width: 1170px;
}

pre {
    background: #f2f2f2;
}
